<h1></h1>

<!-- button new idea -->

<div class="text-right">
  <button type="button" class="btn btn-success" data-toggle="modal"
   data-target="#exampleModal" data-whatever="@mdo"> Create a New Idea </button>
</div>


<!-- ideas -->

<table>
  <% @ideas.each do |idea| %>
    <tr>
      <td><h3><%= link_to idea.title, idea_path(idea) %></h3>
          <p class="lead"><%= idea.body.truncate_words(20) %></p><hr/>
    </td>
  <% end %>
</table>


<%= render "/ideas/new" %>
